{% extends edit_form_twig %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/templatedesignerlayout/css/styleLayout.css')}}">
{% endblock %}
{% block body -%}

<div class="toolbox">
	<form class="form-inline" role="form" action="{{path('layout_transform')}}" method="#">
		<div class="form-group"><label for="name">{% trans %}Name{% endtrans %}:</label><input class="form-control" type="text" name="name"></div>
		<div class="form-group">
			<select class="form-control">
				<option value="div">{% trans %}Div{% endtrans %}</option>
				<option value="nav">{% trans %}Nav{% endtrans %}</option>
				<option value="article">{% trans %}Article{% endtrans %}</option>
				<option value="section">{% trans %}Section{% endtrans %}</option>
{# 				<option value="p">Paragraph</option> #}
			</select>
		</div>
	</form>
	<div role="alert" class="alert alert-success"></div>
	<div role="alert" class="alert alert-danger"></div>
	<ol id="selectable">
		{% for i in range (1,12)%}
			<li class="ui-state-default">{{i}}</li>
		{% endfor %}
	</ol>
	<div class="clearfix"></div>
	<div class="btns">
		<div class="btns-primary">
			<div class="btn btn-primary btn-xs btn-ok-m">{% trans %}Mobile{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-t">{% trans %}Tablet{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-d">{% trans %}Desktop{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-ld">{% trans %}Large Desktop{% endtrans %}</div>
		</div>
		<div class="btns-hidden">
			<div class="btn btn-primary btn-xs btn-ok-hm">{% trans %}Hidden Mobile{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-ht">{% trans %}Hidden Tablet{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-hd">{% trans %}Hidden Desktop{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-hld">{% trans %}Hidden Large Desktop{% endtrans %}</div>
		</div>
		<div class="btns.visible">
			<div class="btn btn-primary btn-xs btn-ok-vm">{% trans %}Only visible Mobile{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-vt">{% trans %}Only visible Tablet{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-vd">{% trans %}Only visible Desktop{% endtrans %}</div>
			<div class="btn btn-primary btn-xs btn-ok-vld">{% trans %}Only visible Large Desktop{% endtrans %}</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="containers clearfix">
		<div class="container-row">
			<div id="row" class="draggable">{% trans %}Row{% endtrans %}</div>
		</div>
		<div class="container-column">
			<div style="display:none;" id="col" data-class="column" class="draggable">{% trans %}Column{% endtrans %}</div>
		</div>
		{# <div class="container-container">
			<div id="container" class="draggable">container</div>
		</div> #}
	</div>
	<div data-message="{% trans %}Do you wish to confirm?{% endtrans %}" data-success="{% trans %}Layout converted{% endtrans %}" class="btn btn-success btn-transform">{% trans %}Convert{% endtrans %}</div>
</div>

<div class="root container droppable"></div>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script src="{{asset('bundles/templatedesignerlayout/js/jsLayout.js')}}"></script>
{% endblock %}