{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {# le contenu de la barre d'outils de débuggage web #}
    <div class="sf-toolbar-block">
    	<div class="sf-toolbar-icon">
    		<a href="{{ path('_profiler', { 'token': token, 'panel': collector.name }) }}">
    			<img src="" width="20" height="28">
    			<span>{{collector.layout.name|default('none')}}</span>
    		</a>
    	</div>
    </div>
{% endblock %}

{% block head %}
	{{parent()}}
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/templatedesignerlayout/bootstrap/bootstrap-3.2.0-dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/templatedesignerlayout/css/styleLayoutWithPosition.css')}}">
{% endblock %}

{% block menu %}
	<span class="label">
		<span class="icon"></span>
		<strong>{% trans %}Layout{% endtrans %}</strong>
	</span>
{% endblock %}

{% block panel %}
	{% if collector.layout is not null %}
    	{% include 'TemplateDesignerLayoutBundle:Layout:displayLayoutWithPositions.html.twig' with {parent:collector.layout}%}
    {% endif %}
{% endblock %}